<!doctype html>
<html lang="en">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <style>
        .img-cart {
            display: block;
            max-width: 50px;
            height: auto;
            margin-left: auto;
            margin-right: auto;
        }
        table tr td{
            border:1px solid #FFFFFF;
        }

        table tr th {
            background:#eee;
        }

        .panel-shadow {
            box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
        }
    </style>
</head>
<body>
<div class="container bootstrap snippets bootdey">
    <div class="col-md-9 col-sm-8 content">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li class="active">Giỏ hàng của bạn đây, mua hàng mau đi nhé!</li>
                </ol>
            </div>
        </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-info panel-shadow">
                        <div class="panel-heading">
                            <h3>
                                <img class="img-circle img-thumbnail" src="https://bootdey.com/img/Content/user_3.jpg">
                                Chào mừng {user-email}
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Sản phẩm</th>
                                        <th>Mô tả</th>
                                        <th>Số lượng</th>
                                        <th>Giá bán lẻ</th>
                                        <th>Tổng tiền</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {input}
                                    <tr>
                                        <td colspan="4" class="text-right"><strong>Total</strong></td>
                                        <td><span>$</span><span id = 'totalOrder'>{totalOrder}</span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <a href="/home" class="btn btn-success"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Continue Shopping</a>
                    <a href="/login" onclick="checkout()" type="submit" class="btn btn-primary pull-right">Check out<span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
            </div>
    </div>
</div>
<script>
    function findNumberOfProduct() {
        let index = 0;
        while(document.getElementById(`total${index}`)){
            index ++
        }
        return index;
    }
    let numberOfProduct = findNumberOfProduct();
    function money(){
        let totalOrder = 0;
        for(let i=0; i<numberOfProduct; i++) {
            document.getElementById(`total${i}`).innerHTML = +document.getElementById(`price${i}`).innerHTML * document.getElementById(`quantity${i}`).value;
            totalOrder += +document.getElementById(`total${i}`).innerHTML;
        }
        document.getElementById('totalOrder').innerHTML = totalOrder;
    }
    function checkout(){
        alert("Bạn đã mua hàng thành công! Mời bạn phắn!")
    }
</script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>